<section class="dm-background">
  <div class="row dm-card" style="width: 100%">
    <div class="col-md-4"><a href="/dm/campaings"><h1>Campaigns</h1></a></div>
    <div class="col-md-4"><h1>Community</h1></div>
    <div class="col-md-4"><a href="/dm/store"><h1>Store</h1></a></div>
  </div>
</section>
