<section class="home-background">
  <div class="home-login">
    <h1>Create Campaings for D&D as well as connect With players</h1>
    <a class="style-white" href="login-register"><h1>login</h1></a>
  </div>
</section>
