<div class="flip-box">
  <div id="flip-box-inner" class="flip-box-inner">
    <div class="flip-box-front" id="flip-box-front">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <form>
          <h1>Login</h1>
          <div class="row">
            <div class="col-md-4">
              <a href="/users/auth/facebook" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
              </a>
            </div>
            <div class="col-md-4">
              <a href="/users/auth/twitter" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
              </a>
            </div>
            <div class="col-md-4">
              <a href="/users/auth/google_oauth2" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google
              </a>
            </div>
          </div>
          <div>

            <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
          <div class="full-width">
            <span class="psw">Forgot <a href="#">password?</a></span>
          </div>
          <div class="full-width">
            <button id="register" type="button">Register</button>
            <button type="submit">Login</button>
          </div>
        </form>
      <% end %>
    </div>
    <div class="flip-box-back" id="flip-box-back">
      <form accept-charset="UTF-8" action="/users" class="register_user" id="register_user" method="post">
        <h1>Register</h1>
        <div>
          <label for="user_username"><b>Username</b></label>
            <input id="user_username" type="text" placeholder="Enter Username" name="user[username]">

            <label for="user_password"><b>Password</b></label>
            <input id="user_password" type="password" placeholder="Enter Password" name="user[password]">

            <label for="user_password_confirmation"><b>Confirm Password</b></label>
            <input id="user_password_confirmation" type="password" placeholder="Confirm Password" name="user[password_confirmation]" required>
        </div>
        <div class="full-width" id="buttons-top-space">
          <button id="user-login" type="button">User Login</button>
          <input class="button" name="commit" type="submit" value="register" />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  register = document.getElementById("register");
  register.onclick = function() {
    document.getElementById("flip-box-inner").style.transform = "rotateY(180deg)";
  }
  userLogin = document.getElementById("user-login");
  userLogin.onclick = function() {
    document.getElementById("flip-box-inner").style.transform = "none";
  }
</script>
