<section class="home-background">
  <div class="row home-card" style="width: 100%">
    <div class="col-md-6"><a href="/dm"><h1>Dungeon Master Home</h1></a></div>
    <div class="col-md-6"><a><h1>Player Home</h1></a></div>
  </div>
</section>
