<section class="login-background">
  <div class="flip-box">
    <div id="flip-box-inner" class="flip-box-inner">
      <div class="flip-box-front" id="flip-box-front">
        <form accept-charset="UTF-8" action="/login" method="post">
          <h1>Login</h1>
          <div class="row">
            <div class="col-md-4">
              <a href="/users/auth/facebook" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
              </a>
            </div>
            <div class="col-md-4">
              <a href="/users/auth/twitter" class="twitter btn">
                <i class="fa fa-twitter fa-fw"></i> Login with Twitter
              </a>
            </div>
            <div class="col-md-4">
              <a href="/users/auth/google_oauth2" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google
              </a>
            </div>
          </div>
          <div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <label for="session_email">Email</label>
            <input class="session_email" id="session_email" name="session[email]" type="text" />

            <label for="session_password">Password</label>
            <input id="session_password" name="session[password]" type="password" />

              <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
          <div style="width: 100%; padding-top: 20px;">
          </div>
          <div class="full-width">
            <span class="psw" style="padding:0;">Forgot <a href="#">password?</a></span>
          </div>
          <div class="full-width">
            <button id="register" type="button">Register</button>
            <button name="commit" type="submit" value="Log in">Login</button>
          </div>
        </form>
      </div>
      <div class="flip-box-back" id="flip-box-back">
        <form accept-charset="UTF-8" action="/register" class="new_user" id="new_user" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <h1>Register</h1>
          <div>
            <label for="user_email">Email</label>
            <input id="user_email" name="user[email]" type="email" />

            <label for="user_password">Password</label>
            <input id="user_password" name="user[password]" type="password" />

            <label for="user_password_confirmation">Confirmation</label>
            <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
          </div>
          <div class="full-width" id="buttons-top-space">
            <button id="user-login" type="button">User Login</button>
            <input class="button" name="commit" type="submit" value="register" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    register = document.getElementById("register");
    register.onclick = function() {
      document.getElementById("flip-box-inner").style.transform = "rotateY(180deg)";
    }
    userLogin = document.getElementById("user-login");
    userLogin.onclick = function() {
      document.getElementById("flip-box-inner").style.transform = "none";
    }
  </script>
</section>
