/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
  font-family: 'Amatic SC', cursive !important;
  background-color: rgba(0,0,0,1);
  background-size: cover;
  background-blend-mode: luminosity;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
}

p, a, label, span, b {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

#right-nav-item {
  color: #fff;
}

#right-nav-item:hover {
  color: #fff !important;
}

button, .button {
  font-family: 'Amatic SC', cursive !important;
  font-size: 1.6em !important;
  float: left;
}

#sidebar .nav-spacing {
  margin-top: 4em;
  width: 100%;
}

#nav-name {
  color: #fff;
  font-size: 2em;
}

.nav-header {
  font-size: 2em;
}

.navbar-nav {
  font-family: 'Amatic SC', cursive !important;
  font-size: 2em;
}

.navbar {
  padding: 0;
  margin: 1em;
  width: 100%;
  background: transparent !important;
  position: fixed !important;
  top: 0;
  color: #fff;
  z-index: 3;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0;
}

/* bootstrap-tagsinput.css file - add in local */

.bootstrap-tagsinput {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 0;
  transition: 1s;
  cursor: text;
  font-size: 2em;
  transform: scale(.95);
  -webkit-transform: scale(.95);
}

.bootstrap-tagsinput:hover {
  border: 4px solid #000;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.bootstrap-tagsinput input {
  margin: 0;
  border: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  /* do nothing */
}
.bootstrap-tagsinput .tag {
  margin: 0 8px;
  color: #000;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); */
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  /* box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
}

.animate {
  position: absolute; left: 0; top: 0;
  transition: .6s;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.unanimate {
  position: absolute; left: 0; top: 0;
  transition: .6s;
  -webkit-animation: animatezoomout 0.6s;
  animation: animatezoomout 0.6s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.nav-link-a {
  color: #fff !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  background: rgba(0,0,0,.5);
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  margin: 1em;
}

#sidebar ul.components {
  padding: 1em;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.button:hover{
  opacity: 0.8;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

#content {
  width: calc(100% - 250px);
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}

.style-white {
  color: #fff !important;
}

.style-black {
  color: #000 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-black {
  border-color: #000 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .nav-spacing {
      margin-top: 4em;
      width: 100%;
    }
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0, 0);

  }
  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes animatezoomout {
  from {-webkit-transform: scale(1)}
  to {-webkit-transform: scale(0)}
}

@keyframes animatezoomout {
  from {transform: scale(1)}
  to {transform: scale(0)}
}
