.dm-campaings-box {
  margin-top: 50px;
  text-align: center;
}

.dm-create-card {
  margin: 20px;
  color: var(--main-color);
  border: 1px dashed #fff;
  transition: 1s;
  cursor: pointer;
  transform: scale(.9);
  -webkit-transform: scale(.9);

  &:hover {
    border: 4px solid #fff;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  &h1 {
    font-size: 10em;
  }
}


.dm-card {
  color: var(--main-color);
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  text-align: center;

  &a {
    color: var(--main-color);
    transition: .6s;
  }

  &a:hover {
    color: #999;
  }
}

#navbar{
  transition: 1s;
}

#dashboard-modal-exit {
  color: #000;
  float: right;
  background: transparent;
  font-size: var(--medium-font);
  transition: .6s;
  cursor: pointer;
  
  &:hover {
    color: #444 !important;
  }
}

.dashboard-modal {
  opacity: 0;
  display: none;
  position: fixed;
  left: -700px;
  top: -300px;
  transition: .6s;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

.dashboard-modal-content {
  margin: 20px;
  background-color: #fefefe;
}
