.dm-campaings-box {
  margin-top: 50px;
  text-align: center;
}

.dm-create-card {
  margin: 20px;
  color: #fff;
  border: 1px dashed #fff;
  transition: 1s;
  cursor: pointer;
  transform: scale(.9);
  -webkit-transform: scale(.9);
}

.dm-create-card:hover {
  border: 4px solid #fff;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.dm-create-card h1 {
  font-size: 10em;
}

.dm-card {
  color: #fff;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  text-align: center;
}

.dm-card a {
  color: #fff;
  transition: .6s;
}

.dm-card a:hover {
  color: #999;
}

.dm-background {
  background-color: rgba(0,0,0,1);
  background-image: url(asset-path('back_dm.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(asset-path('back_dm.jpg'));
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-blend-mode: luminosity;
  min-height: 100vh;
  overflow-y: hidden;
}

.dm-background-darker {
  background-color: rgba(0,0,0,1);
  background-image: url(asset-path('back_dm.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.9)), url(asset-path('back_dm.jpg'));
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-blend-mode: luminosity;
  min-height: 100vh;
  overflow-y: hidden;
}

#navbar{
  transition: 1s;
}

#dashboard-modal-exit {
  color: #000;
  float: right;
  background: transparent;
  font-size: 2em;
  transition: .6s;
  cursor: pointer;
}

#dashboard-modal-exit:hover {
  color: #444 !important;
}

.dashboard-modal {
  opacity: 0;
  display: none;
  position: fixed;
  left: -700px;
  top: -300px;
  transition: .6s;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

.dashboard-modal-content {
  margin: 20px;
  background-color: #fefefe;
}

.animate {
  transition: .6s;
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

.unanimate {
  transition: .6s;
  -webkit-animation: animatezoomout 0.6s;
  animation: animatezoomout 0.6s;
}

.animateLocation {
  transition: .6s;
  -webkit-animation: zoomLocation 0.6s;
  animation: 0.6s;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@-webkit-keyframes animatezoomout {
  from {-webkit-transform: scale(1)}
  to {-webkit-transform: scale(0)}
}

@keyframes animatezoomout {
  from {transform: scale(1)}
  to {transform: scale(0)}
}

@media screen and (max-width: 300px) {
  .cancelbtn {
     width: 100%;
  }
}
