.home-card {
  color: var(--main-color);
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  text-align: center;
}

.home-login {
  text-align: center;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.home-login {
  color: var(--main-color);
}
