.profile-background::before {
  background-color: rgba(0,0,0,1);
  background-image: url(asset-path('back_profile.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(asset-path('back_profile.jpg'));
  background-size: cover;
  background-blend-mode: luminosity;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

body {
  background-image: url(asset-path('back_profile_u.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(asset-path('back_profile_u.jpg'));
  background-blend-mode: luminosity;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

.profile-background-f {
  background-color: rgba(0,0,0,1);
  background-image: url(asset-path('back_friend_search.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.5)), url(asset-path('back_friend_search.jpg'));
  background-size: cover;
  background-blend-mode: luminosity;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

.profile-background-c {
  background-color: rgba(0,0,0,1);
  background-image: url(asset-path('back_campaigns.jpg'));
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.5)), url(asset-path('back_campaigns.jpg'));
  background-size: cover;
  background-blend-mode: luminosity;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
}

.profile-overlay {
  margin: 0;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 1s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-size: .9em !important;
}

.profile-create-card a:hover .profile-overlay {
  opacity: 1;
}

.profile-campaings-box {
  text-align: center;
}

.profile-h1 {
  color: #fff;
}

.profile-create-card {
  margin: 20px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .7);
  transition: 1s;
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
  font-size: 2em;
}

.profile-create-card:hover {
  border: 4px solid rgba(255, 255, 255, .7);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.profile-create-card h1 {
  font-size: 1.5em;
}

.profile-box {
  width: calc(100% - 10px);
  padding-top: 56.25%;
  margin: 20px;
  background-color: transparent;
  color: #000;
  border: 1px dashed #000;
  transition: 1s;
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.profile-box:hover {
  border: 4px solid #000;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  font-size: 4em;
  text-align: center;
  padding-top: 28.125%;
  padding-bottom: 28.125%;
  margin: 20px;
  background-color: transparent;
  color: #000;
  border: 1px dashed #000;
  transition: 1s;
  cursor: pointer;
  transform: scale(.95);
  -webkit-transform: scale(.95);
}

.inputfile:focus + label,
.inputfile + label:hover {
  border: 4px solid #000;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.profile-input-padding input {
  padding: 28.125% 0;
  width: 100%;
  margin: 0;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
}

input-focused {
  border: 4px solid #000;
  transform: scale(1);
  -webkit-transform: scale(1);
}

#profile-modal-exit {
  color: #000;
  float: right;
  background: transparent;
  font-size: 2em;
  transition: .6s;
  cursor: pointer;
  margin: 20px 20px 0 0;
}

#profile-modal-exit:hover {
  color: #444 !important;
}


.profile-modal {
  opacity: 0;
  display: none;
  position: fixed;
  transition: .6s;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
}

.profile-modal-content {
  margin: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fefefe;
}

#campaigns-dm-parent {
  margin-bottom: 8px;
}

.profile-textarea {
  font-size: 2em;
  padding: 12px 20px;
  margin: 10px;
}

#profile-add-campaign-plus {
  font-size: 4em !important;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-search input[type=text] {
  width: 130px;
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: rgba(0,0,0,.3);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #fff;
  font-size: 2em;
}

.profile-search input[type=text]:focus {
  width: 60%;
}
