<section class="profile-background-c">
  <div id="content" class="nav-spacing">
      <h1 style="text-align: center;" class="profile-h1 col-md-12"><%= @campaign.name %></h1>
  </div>
  <div class="col-md-12" style="padding-left: 0;">
    <% if @campaign.description != "" %>
      <%= text_area_tag :discription, @campaign.description, rows: 10, maxlength: 10000, class: 'profile-box profile-textarea style-white border-white', placeholder: current_user.discription, style: "height: calc(100% - 46px); resize: none;" %>
    <% end %>
  </div>
</section>
