<section class="profile-background">
  <div id="content" class="nav-spacing">
    <div class="row profile-campaings-box">
      <h1 class="profile-h1 col-md-12">Campaings</h1>
      <div class="col-md-3">
        <a href="/campaigns">
          <div class="profile-create-card">
            <h1>+</h1>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
    </div>
    <div class="row profile-campaings-box">
      <h1 class="profile-h1 col-md-12">Friends</h1>
      <div class="col-md-3">
        <a href="/friend_search">
          <div class="profile-create-card">
            <h1>+</h1>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile-create-card">
          <a><h1>+</h1></a>
        </div>
      </div>
    </div>
  </div>
</section>
